<!-- Footer Start -->
<section class="footer-white no-pdd">
  <div class="container">
    <div class="pdd-vertical-15">
      <span class="copyright mrg-vertical-15"><img class="pdd-right-10" src="assets/images/logo/logo-3.png" alt="eastern"> Copyright © 2016 Eastern. <a class="text-dark" href="https://wrapbootstrap.com/user/Nate93">Theme_Nate</a></span>
      <div class="widget widget-link link-horizon pull-right mrg-vertical-15 pull-left-sm">
        <ul class="link">
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Home</a></li>
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Features</a></li>
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Pages</a></li>
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Elements</a></li>
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Portfolio</a></li>
          <li class="pdd-horizon-10"><a class="font-size-15" href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Footer End -->
